@model BlogApp.Models.User
@{
    ViewData["Title"] = "Delete User";
    Layout = "_AdminLayout";
}

<p>Are you sure you want to delete "@Model.Username" (@Model.FullName)?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>